<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>

    <!--    Aba de inserção do nome    -->
    <div class="save-name">
        <form method="POST" action="/">
            <input type="text" name="name" id="name" 
            {% if IS_NAME %}
                placeholder="{{ NOME }}" 
                style="background-color: #2C2B41;"

                disabled
            {% else %}
                placeholder="Digite seu nome aqui" 
                required
            {% endif %}
            >
            <button type="submit" name="action" value="save" id="save"
            {% if IS_NAME %}
                style="cursor: default;background-color: #2C2B41;"
                disabled
            {% endif %}
            >save</button>
            <button type="submit" name="action" value="edit" id="edit" 
            {% if not IS_NAME %} 
                style="cursor: default;background-color: #2C2B41;"
                disabled

            {% endif %}

            >edit</button>
        </form>
    </div>

    <!--    aba de visualização de mensagens    -->

    <main class="messages">

        {% for _ in messages %}
            <p>{{ _["nome"] }} - {{ _["msg"] }}</p>
        {% endfor %}
        
    </main>

    <!--    aba de envio de mensagens    -->

    <div class="send-message">

        <input type="text", placeholder="Digite sua mensgem aqui...">
        <button id="button-send">enviar</button>

    </div>

</body>
</html>